In [ ]:
Copy data from another column:
stu = pd.read_csv("C:\\Users\\Tarun\\Desktop\\Sql\\Stu.csv",dtype = {"age":"float"})
stu
roll_no	name	phone_no	age	address	city	Country
0	1	Tarun	958645481	23.0	shreeji hieghts	Ahmedabad	India
1	2	Pratik	845483152	24.0	govardhan park	Surat	India
2	3	Yuvraj	784521585	24.0	sukhray mahadev	Mehsana	India
3	5	Chirag	971450557	24.0	yogeshwar park	Ahmedabad	India
4	6	Vihar	8454215844	26.0	gopi bunglows	Adalah	India